*
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.hero{
    width: 100%;
    height: 100vh;
    background: url(img/landscape.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
}

.container-sx{
    height: 100vh;
}
.sinistra{
    background-color: white;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -50%;
}
.destraUp{
    background-color: whitesmoke;
    width: 50%;
    height: 50vh;
    position: fixed;
    top: -50%;
    left: 50%;
}

.destraDown{
    background-color: lightgray;
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 100%;
    left: 50%;
}

.about{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 200vh;
    background-color: red;
}

.foto-profilo{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
    background: url(img/landscape.jpg);
    background-size: cover;
}

/* SEZIONE A SINISTRA */

.mio-profilo{
    margin-top: 50px;
    
}

.mio-profilo h1 {
    font-weight: bold;
}

.mio-profilo span {
    margin-left: 15px;
    margin-right: 15px;
}

.mio-profilo h3{
    color: gray;
    font-style: oblique;
}

#facebook {
    color: blue;
}

#instagram{
    color : #bc1888
}

#pinterest {
    color :red
}


/* SEZIONE A DESTRA */

.about-me-title {
    font-style: oblique;
    font-weight: bold;
}

